@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500.woff2') format('woff2'),
        url('MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

